nav.navbar {
    background-color: #E7E7E7;
}
.left-side {
    width: 20%;
    /* background-color: #000; */
    height: 100%;
    
}
div#app {
/*    width: 80%;
    float: right;*/
    transition: margin-left .5s;
}
.left-side .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.left-side a:hover {
    color: #f1f1f1;
}
.left-side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size:18px;
}
.left-side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
a {
    font-family: sans-serif;
}
.title {
    padding: 10px;
}
i.fas {
    min-width: 26px;
    font-size: 18px;
}
.add_company .company {
    padding: 10px 200px 10px;
}
.card {
    width: 1300px;
}
